<div class="cart-layout h-full">
  <nz-page-header
    class="site-page-header"
    (nzBack)="onBack()"
    nzBackIcon
    [nzTitle]="eventName"
  ></nz-page-header>
  <div class="flex space-x-4 justify-center pt-4">
    <nz-card class="flex-none w-6/12">
      <p>Card content</p>
      <p>Card content</p>
      <p>Card content</p>
    </nz-card>
    <div class="flex-none w-4/12">
      <nz-card>
        <p>Card content</p>
        <p>Card content</p>
        <p>Card content</p>
      </nz-card>

    </div>

  </div>
</div>
