<div class="title">
  <span class="font-bold">{{cartItem.title}}</span>
</div>
<div class="description">
  <span class="font-normal">{{cartItem.description}}</span>
</div>
<div class="time-indicator" [ngClass]="{'red': shouldTimeBeRed()}">
  <span>Sales ends in {{cartEndTimeText}}</span>
</div>
<div class="price-indicator pt-4">
  <span class="font-bold" *ngIf="cartItem.price == 0">Free</span>
  <span class="font-bold" *ngIf="cartItem.price > 0">{{ cartItem.price | currency: 'USD': 'symbol':'0.0-0' }}</span>
  <nz-input-number class="ml-4" (ngModelChange)="onQuantityChange($event)" [(ngModel)]="quantityValue" [nzMin]="0" [nzMax]="10" [nzStep]="1"></nz-input-number>
</div>
